
# postgresql
POSTGRES_USER=changeMeInProduction
POSTGRES_PASSWORD=changeMeInProduction
POSTGRES_DB=ataccotheque

# Meilisearch
MEILI_MASTER_KEY=changeMeInProduction
VITE_MEILI_API_KEY=changeMeSearchOnlyKey

# Backend
JWT_SECRET=changeMeInProduction

WEBAUTHN_RP_ID=website
WEBAUTHN_ORIGIN=https://website.com