# --- Operating System Files ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# --- IDE & Editors ---
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pdf


# --- Environment & Secrets ---
.env
.env.local
.env.*.local

# --- GitHub Actions ---
.github/workflows/*.local.yml

# --- Dependencies ---
node_modules/
.pnp
.pnp.js

# --- Build outputs ---
dist/
build/
*.log

# --- Docker ---
docker-compose.override.yml